body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  background-image: linear-gradient(45deg,#ffffff,#f5f5f5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}